sv_cheats 1

// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

// run the Hyphen GUI Scripts
exec "hyphen/hyphen_gui.cfg"

toggleconsole

//
// stuff command line statements
//
stuffcmds


echo "+                                                               +"
echo "                                                                 "
echo "                  - Team Hyphen CSS GUI v2 -                     "
echo "                    - www.teamhyphen.org -                       "
echo "                                                                 "
echo "    [ To Show a list of commands type 'cmds' in the console ]    "
echo "                                                                 "
echo "                                                                 "
echo "                                                                 "
echo "+                                                               +"
echo ""
echo ""
echo ""